[submodule "vim/vim/bundle/Colour-Sampler-Pack"]
	path = vim/vim/pack/plugins/start/Colour-Sampler-Pack
	url = https://github.com/vim-scripts/Colour-Sampler-Pack.git
[submodule "vim/vim/bundle/ctrlp-cmatcher"]
	path = vim/vim/pack/plugins/start/ctrlp-cmatcher
	url = https://github.com/JazzCore/ctrlp-cmatcher.git
[submodule "vim/vim/bundle/ctrlp.vim"]
	path = vim/vim/pack/plugins/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/vim/bundle/tcomment_vim"]
	path = vim/vim/pack/plugins/start/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "vim/vim/bundle/vim-fugitive"]
	path = vim/vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vim/bundle/vim-latex"]
	path = vim/vim/pack/plugins/start/vim-latex
	url = https://github.com/lervag/vim-latex.git
[submodule "vim/vim/bundle/vim-rtags"]
	path = vim/vim/pack/plugins/start/vim-rtags
	url = https://github.com/lyuts/vim-rtags.git
[submodule "vim/vim/bundle/file-line"]
	path = vim/vim/pack/plugins/start/file-line
	url = https://github.com/bogado/file-line.git
[submodule "vim/vim/pack/plugins/start/vim-unittest"]
	path = vim/vim/pack/plugins/start/vim-unittest
	url = https://github.com/h1mesuke/vim-unittest.git
[submodule "vim/vim/pack/plugins/start/vim-javascript"]
	path = vim/vim/pack/plugins/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim-jsx"]
	path = vim/vim/pack/plugins/start/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "vim/vim/pack/plugins/start/vim-gradle"]
	path = vim/vim/pack/plugins/start/vim-gradle
	url = https://github.com/tfnico/vim-gradle.git
[submodule "vim/vim/pack/plugins/start/javacomplete"]
	path = vim/vim/pack/plugins/start/javacomplete
	url = https://github.com/adragomir/javacomplete.git
[submodule "vim/vim/pack/plugins/start/vim-javacomplete2"]
	path = vim/vim/pack/plugins/start/vim-javacomplete2
	url = https://github.com/artur-shaik/vim-javacomplete2.git
[submodule "vim/vim/pack/plugins/start/delimitMate"]
	path = vim/vim/pack/plugins/start/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "thirdparty/peda"]
	path = thirdparty/peda
	url = https://github.com/longld/peda.git
[submodule "vim/vim/pack/plugins/start/vim-orgmode"]
	path = vim/vim/pack/plugins/start/vim-orgmode
	url = https://github.com/jceb/vim-orgmode.git
[submodule "vim/vim/pack/plugins/start/calendar-vim"]
	path = vim/vim/pack/plugins/start/calendar-vim
	url = https://github.com/mattn/calendar-vim
[submodule "ale"]
	path = vim/vim/pack/plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/vim/pack/plugins/start/YouCompleteMe"]
	path = vim/vim/pack/plugins/start/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
