[submodule "vim/vim/bundle/Colour-Sampler-Pack"]
	path = vim/vim/pack/plugins/start/Colour-Sampler-Pack
	url = https://github.com/vim-scripts/Colour-Sampler-Pack.git
[submodule "vim/vim/bundle/ctrlp.vim"]
	path = vim/vim/pack/plugins/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/vim/bundle/tcomment_vim"]
	path = vim/vim/pack/plugins/start/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "vim/vim/bundle/vim-fugitive"]
	path = vim/vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vim/bundle/vim-latex"]
	path = vim/vim/pack/plugins/start/vim-latex
	url = https://github.com/vim-latex/vim-latex.git
[submodule "vim/vim/bundle/vim-rtags"]
	path = vim/vim/pack/plugins/start/vim-rtags
	url = https://github.com/lyuts/vim-rtags.git
[submodule "vim/vim/bundle/file-line"]
	path = vim/vim/pack/plugins/start/file-line
	url = https://github.com/bogado/file-line.git
[submodule "vim/vim/pack/plugins/start/vim-unittest"]
	path = vim/vim/pack/plugins/start/vim-unittest
	url = https://github.com/h1mesuke/vim-unittest.git
[submodule "thirdparty/peda"]
	path = thirdparty/peda
	url = https://github.com/longld/peda.git
[submodule "vim/vim/pack/plugins/start/vim-orgmode"]
	path = vim/vim/pack/plugins/start/vim-orgmode
	url = https://github.com/jceb/vim-orgmode.git
[submodule "vim/vim/pack/plugins/start/calendar-vim"]
	path = vim/vim/pack/plugins/start/calendar-vim
	url = https://github.com/mattn/calendar-vim
[submodule "ale"]
	path = vim/vim/pack/plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/vim/pack/plugins/start/YouCompleteMe"]
	path = vim/vim/pack/plugins/start/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule "vim/vim/pack/plugins/start/cpsm"]
	path = vim/vim/pack/plugins/start/cpsm
	url = https://github.com/nixprime/cpsm.git
[submodule "vim/vim/pack/plugins/start/patchreview-vim"]
	path = vim/vim/pack/plugins/start/patchreview-vim
	url = https://github.com/junkblocker/patchreview-vim.git
